<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">   
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" formControlName="email" />
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" formControlName="password" />
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form> -->


<!-- <div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="input-group">
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="input-group">
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button type="submit">login</button>
    </form>
  </div>
</div> -->




<!-- 

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">   
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
    Login
  </button>
</form>
 -->
 <div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">   
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
      <mat-icon>login</mat-icon> LOGIN
    </button>
  </form>
</div>
