/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-image:url('/images/picture.png') ; width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-color: black;
    background-repeat: no-repeat;
}
